
*{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a.nav-link.active {
  color: lightgray;
}

a.nav-link{
  color: white;
  text-decoration: none;
}

a{
  color: white;
}

a.nav-link:hover {
  color: lightgray;
}

.logo{
  font-size: 1.5rem;
}